.view-blog-content {
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 10px 0;
    }

    pre {
        padding: 10px;
        border: 1px solid #8dffe48c;
        border-radius: 10px;
        background-color: rgb(26, 26, 26);
    }
}
