* {
    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box
}

body {
    --orange: #FFDD00;
    --color: #0a192f;
    --primary: rgba(59, 130, 246, 1);
    --primary-light: rgba(106, 255, 220, 0.822);
    --primary-darker: #349780;
    --background: #111010;
    --background-secondary-opacity-100: #081425;
    --background-secondary: rgba(249, 250, 251, 0.05);
    --opacity-background: rgba(8, 20, 37, 0.486);
    --light-background: #172a45;
    --gray: #8892b0;
    --gray-light: #a8b2d1;
    --gray-lighter: #ccd6f6;
    --gray-lightest: #e6f1ff;
    --light: white;

    color: var(--color);
    transition: 0.3s;
}

.dark body {
    --color: #EEF5FC;
    --background-secondary-opacity-100: #12243d;
    background-color: var(--background);
    color: var(--color);
}
.sepia body {
    --color: #0a192f;
    --primary: #ca0769;
    --primary-light: rgba(255, 148, 202, 0.76);
    --primary-darker: #0d5857;
    --background: rgb(240, 231, 219);
    --background-secondary-opacity-100: rgb(238, 222, 200);
    --opacity-background: rgba(240, 231, 219, 0.8);
    --background-secondary: rgba(229, 212, 190, 0.5);
    --light-background: rgb(240, 231, 219);
    background-color: var(--background);
    color: var(--color);
}

.light body {
    --color: #0a192f;
    --primary: #0a192f;
    --primary-light: #d9bbff;
    --primary-darker: #246b6a;
    --background: rgb(255, 255, 255);
    --background-secondary-opacity-100: rgb(253, 253, 253);
    --opacity-background: rgba(255, 255, 255, 0.8);
    --background-secondary: rgba(212, 212, 212, 0.3);
    --light-background: rgb(219, 219, 219);
    background-color: var(--background);
    color: var(--color);
}

@import "./common/animate.scss";
@import "./common/scrollbar.scss";
@import "./common/content.scss";
@import "./common/transitions.scss";
@import "./common/tags.scss";
@import "./common/print.scss";
@import "./icon/icon.scss";
