:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "ss03", "cv02", "cv11";
    font-variation-settings: normal;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}

body {
    @apply bg-gray-950 leading-relaxed text-gray-400 antialiased selection:bg-blue-400 selection:text-teal-900;
}

.jum-link-item.active {
    .nav-indicator {
        @apply w-16 bg-slate-200;
    }

    .nav-text {
        @apply text-slate-200;
    }
}

.no-scroll {
    overflow: hidden;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #dedede4b;
    border-radius: 4px;
}

@import "./common/content.scss";
